<form [formGroup]="userForm" class="px-5">
  <div class="d-flex justify-content-center row">
    <div class="mb-3 col-12 col-md-6">
      <label for="firstname" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        formControlName="firstname"
      />
      <div *ngIf="showMsgError('firstname')" class="text-danger">
        El nombre es obligatorio.
      </div>
    </div>
    <div class="mb-3 col-12 col-md-6">
      <label for="lastname" class="form-label">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        formControlName="lastname"
      />
      <div *ngIf="showMsgError('lastname')" class="text-danger">
        El apellido es obligatorio.
      </div>
    </div>
    <div class="mb-3 col-12 col-md-6">
      <label for="username" class="form-label">Email</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
      />
      <div *ngIf="showMsgError('username')" class="text-danger">
        El email es inválido
      </div>
    </div>
    <div class="mb-3 col-12 col-md-6">
      <label for="password" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      <div *ngIf="showMsgError('password')" class="text-danger">
        La contraseña es obligatoria y debe ser minino de 8 caracteres
      </div>
    </div>
  </div>
  <div class="text-end mt-4">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="register()"
      [disabled]="userForm.invalid"
    >
      Registrarse
    </button>
  </div>
</form>
