p {
    font-size: 14px;
}

.font-10 {
    font-size: 10px;
}

span {
    font-weight: 800;
}

.shadow-div {
    opacity: 0.4;
}

.modal-form {
    background-color: white;
    width: 50vw;
    min-height: 55vh;
    padding: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.278);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-content {
    padding: 25px 0;
    height: calc(100vh - 120px);
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.user-list-container {
    max-height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    /* Hace que la scrollbar sea más delgada */
    scrollbar-color: #888 #f1f1f1;
    /* Color del pulgar y de la pista */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Internet Explorer 10+ */
}

/* Estilos para Webkit (Chrome, Safari) */
.user-list-container::-webkit-scrollbar {
    width: 5px;
    /* Ancho de la scrollbar vertical */
}

.user-list-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color de fondo de la pista de la scrollbar */
}

.user-list-container::-webkit-scrollbar-thumb {
    background: #888;
    /* Color del pulgar de la scrollbar */
    border-radius: 4px;
    /* Bordes redondeados del pulgar */
}

.user-list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color del pulgar de la scrollbar cuando se pasa el cursor */
}